<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">
        New Recipe
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <a href="#" class="list-group-item clearfix">
        <div class="pull-left">
          <h4 class="list-group-item-heading">Chow Mein</h4>
          <p class="list-group-item-text">Chow mein Description</p>
        </div>
        <span>
            <img src="https://c.ndtvimg.com/mnng9ei8_chowmein_640x480_25_July_18.jpg" alt="" class="img-responsive" style="max-height:100px;">
        </span>
      </a>
      <app-recipe-item></app-recipe-item>
    </div>
  </div>
</div>
